<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
     - namespace:命名空间，用来绑定mapper接口，填mapper所在路径（从包名开始）
     - select：查询语句
       - id:与绑定的mapper里接口的名字一样
       - resultType:返回的类型
 -->
<mapper namespace="com.example.mybatis_01.mapper.UserMapper">
    <select id="selectAll" resultType="com.example.mybatis_01.bean.User">
        select * from User
    </select>

    <select id="selectById" resultType="com.example.mybatis_01.bean.User">
        select * from User where id=#{id}
    </select>

</mapper>
