<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.shiro.mapper.RolesMapper">
  <resultMap id="BaseResultMap" type="com.example.shiro.bean.Roles">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from Roles
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.shiro.bean.Roles">
    insert into Roles (id, role_id, role_name
      )
    values (#{id,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.example.shiro.bean.Roles">
    update Roles
    set role_id = #{roleId,jdbcType=INTEGER},
      role_name = #{roleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUserName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT Roles.*
      from Roles INNER JOIN User_Roles on Roles.role_id = User_Roles.role_id
      where user_name=#{selectByUserName}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, role_id, role_name
    from Roles
  </select>
</mapper>